@model Produtos


<div class="container marginTop">
    <div class="row">
        <div class="card">
            <div class="text-center view overlay hm-white-light">
                <img src="@Model.ImagemUrl" width="100" class="img-fluid" alt="" />
                <a href="#">

                </a>
            </div>
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">@Model.Nome</h4>
                <!--Text-->
                <p class="card-text">@Model.DescricaoLonga.</p>
                <p class="btn btn-group pull-right">
                    <a asp-controller="Produto" asp-action="List" class="btn btn-default">Ver todos os Produtos</a>
                    <a class="btn btn-success" id="cartButton" asp-controller="Carrinho" asp-action="AddToCarrinho" asp-route-produtoId="@Model.ProdutoId">
                        Add @Model.Nome ao Carrinho
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

